/*font-family: 'Tiro Telugu', serif;*/
.hero{
    height: 90vh;
    width: 100%;
    background-color:rgb(241, 224, 216);
    
  
}
.effectDiv{
    height: 100%;
}
.heroContainer{
    height:100%;
}
.row{
     height:100%;
}

.textHero{
    
    font-family: 'Tiro Telugu', serif;
}


@media (max-width:600px) {
    h1{
        font-size:25px
    }
    h2{
        font-size:20px
    }
}