/*font-family: 'EB Garamond', serif;*/

.nav{
    width:100%;
}

.navBar{
    padding-top: 0;
    padding-bottom: 0;
}
.navLink{
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    margin:0 30px;
}

.navLinksContainer{
    width: 100%;
}
.navBarLinks{
    width: 100%;
}
.logoContainer{
    width: 30%;
}
.logoLink{
    width:100%;
    padding:0;
    margin:0;
}

.logo{
    width: 25%;
}

.widgetDiv{
    width: 40%;
    margin: 0 30px;
}